<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/bootstrap.min.css">
  <link rel="stylesheet" href="./css/agency.css">
  <title>Document</title>
  
</head>
<body>
  
</body>
</html>
<!-- Portfolio Grid Section -->
<section id="offer" class="bg-light-gray">
  <div style="margin-top: 3.5rem !important;">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading" >Offre</h2>
          <h3 class="section-subheading text-muted">
            Découvrez nos offres
          </h3>
        </div>
      </div>
      <div id="popup1" class="overlaya">
        <div class="popup">
          <h3>Pack de lancement Airbnb</h3>
          <a class="close" href="#offer">&times;</a>
          <br />
          <div class="content">
            Laissez-nous vous accompagner dans votre démarrage avec notre
            pack de lancement exclusif Airbnb. Créez une annonce
            percutante qui séduira les voyageurs du monde entier. Obtenez
            un devis personnalisé pour le matériel indispensable qui
            garantira une expérience mémorable. Et recevez nos précieux
            conseils pour vous lancer avec succès dans cette nouvelle
            aventure. Faites confiance à notre expertise et préparez-vous
            à des débuts triomphants sur Airbnb !
          </div>
        </div>
      </div>
      <div id="popup2" class="overlaya">
        <div class="popup">
          <h2>PACK DE GESTION EXCLUSIVE.</h2>
          <a class="close" href="#offer">&times;</a>
          <br />
          <div class="content">
            Débutez votre aventure en toute confiance avec notre pack de lancement GRATUIT. Bloquez votre logement à votre
            convenance grâce à notre application mobile conviviale. Gardez un contrôle total sur vos finances grâce à
            notre application web pratique. Profitez d'une gestion active des annonces et d'une optimisation des prix pour
            maximiser vos revenus. Établissez une communication fluide avec vos invités pour créer des expériences
            uniques. Simplifiez l'organisation de la remise des clés pour un accueil chaleureux et assurez un nettoyage
            impeccable après chaque départ. Nous vous fournissons toutes les informations et l'assistance nécessaires pour
            l'entretien de votre logement. Faites confiance à notre expertise pour une gestion sans souci et une réussite
            inégalée sur Airbnb !
          </div>
        </div>
      </div>
      <div class="row">
        <div class="container mx-auto">
          <div class="flex flex-wrap px-48 -m-4 row " style="place-content: center">
            <div class="col-lg-6 col-md-6 col-sm-12 mt-2" style="height: 50%">
              <div class="h-full p-6 rounded-lg border-2-gray border-gray-300 flex flex-col relative overflow-hidden">
                <div class="font-size-grid">
                <h3 class="title_service tracking-widest mb-1 " style="font-weight: bold !important; margin: 5px auto !important; text-align:center !important;">
                  Pack de lancement Airbnb
                </h3>
                <hr>
                <p class="flex items-center text-gray-600 mb-2 font-size-grid">
                  <span
                    class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                      stroke-width="2.5" class="w-4 h-4" viewBox="0 0 24 24">
                      <path d="M20 6L9 17l-5-5"></path>
                    </svg> </span>Mise en place de votre annonce
                </p>
                <p class="flex items-center text-gray-600 mb-2 font-size-grid">
                  <span
                    class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                      stroke-width="2.5" class="w-4 h-4" viewBox="0 0 24 24">
                      <path d="M20 6L9 17l-5-5"></path>
                    </svg> </span>Obtenez un devis pour le matériel nécessaire
                </p>
                <p class="flex items-center text-gray-600 mb-2 font-size-grid">
                  <span
                    class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                      stroke-width="2.5" class="w-4 h-4" viewBox="0 0 24 24">
                      <path d="M20 6L9 17l-5-5"></path>
                    </svg> </span>Recevez des conseils pour débuter avec succès
                </p>
                <p class="flex items-center text-gray-600 mb-2">
                  <span class="w-4 h-4 mr-2 inline-flex items-center justify-center text-white flex-shrink-0">
                  </span>
                </p>
                <p class="flex items-center text-gray-600 mb-6">
                  <span class="w-4 h-4 mr-2 inline-flex items-center justify-center text-white flex-shrink-0">
                  </span>
                </p>
                <p class="flex items-center text-gray-600 mb-6">
                  <span class="w-4 h-4 mr-2 inline-flex items-center justify-center text-white flex-shrink-0">
                  </span>
                </p>
                <p class="flex items-center text-gray-600 mb-6">
                  <span class="w-4 h-4 mr-2 inline-flex items-center justify-center text-white flex-shrink-0">
                  </span>
                </p>
                <p class="flex items-center text-gray-600 mb-6">
                  <span class="w-4 h-4 mr-2 inline-flex items-center justify-center text-white flex-shrink-0">
                  </span>
                </p>
                <p class="flex items-center text-gray-600 mb-6">
                  <span class="w-4 h-4 mr-2 inline-flex items-center justify-center text-white flex-shrink-0">
                  </span>
                </p>
                <p class="flex items-center text-gray-600">
                  <span class="w-4 h-4 mr-2 inline-flex items-center justify-center text-white flex-shrink-0">
                  </span>
                </p>
              </div>
                <p class="flex items-center text-gray-600 mb-6" style="text-align: center !important;">
                  <span class="w-4 h-4 mr-2 inline-flex items-center justify-center text-white flex-shrink-0">
                    <h1 class="text-gray-900 leading-none flex items-center pb-4 mb-4 border-b border-gray-200" style="font-weight:bold;  text-align: center !important; margin: 2px auto;">
                      Prix 500.-
                    </h1>
                  </span>
                </p>
               
                <a class="flex items-center mt-auto text-white bg-gray-400 border-0 py-2 px-4 w-full focus:outline-none hover:bg-gray-500 rounded"
                  href="#popup1">
                  Learn More
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    class="w-4 h-4 ml-auto" viewBox="0 0 24 24">
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                  </svg>
                </a>
                <!-- <p class="text-xs text-gray-500 mt-3">
                  Literally you probably haven't heard of them jean shorts.
                </p> -->
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 mt-2" style="height: 50%">
              <div class="h-full p-6 rounded-lg border-2-red border-primary-500 flex flex-col relative overflow-hidden">
                <span
                  class="bg-primary-500 text-white px-3 py-1 tracking-widest text-xs absolute right-0 top-0 rounded-bl">MEILLEUR
                  CHOIX</span>
                <div class="font-size-grid">
                  <h3 class="title_service tracking-widest title-font mb-1 " style="font-weight: bold  !important; margin:5px auto !important; text-align:center !important;">
                  Pack de gestion exclusive
                </h3>
                <hr>
                <p class="flex items-center text-gray-600 mb-2 font-size-grid">
                  <span
                    class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-bok text-white rounded-full flex-shrink-0">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                      stroke-width="2.5" class="w-4 h-4" viewBox="0 0 24 24">
                      <path d="M20 6L9 17l-5-5"></path>
                    </svg> </span>
                  Pack de lancement Airbnb» GRATUIT
                </p>
                <p class="flex items-center text-gray-600 mb-2 font-size-grid">
                  <span
                    class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-bok text-white rounded-full flex-shrink-0">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                      stroke-width="2.5" class="w-4 h-4" viewBox="0 0 24 24">
                      <path d="M20 6L9 17l-5-5"></path>
                    </svg> </span>Accès à une plateforme de gestion dédiée </p>
                <ul style="padding: 1px 0 1px 1rem !important;">
                  <li style="list-style: none;"> <span
                      class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-bok text-white rounded-full flex-shrink-0">
                      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2.5" class="w-4 h-4" viewBox="0 0 24 24">
                        <path d="M20 6L9 17l-5-5"></path>
                      </svg> </span>
                        Réservez votre logement facilement
                    </li>
                  <li style="list-style: none;">
                    <span
                      class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-bok text-white rounded-full flex-shrink-0">
                      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2.5" class="w-4 h-4" viewBox="0 0 24 24">
                        <path d="M20 6L9 17l-5-5"></path>
                      </svg> </span>Consultez le calendrier des réservations
                    </li>
                  <li style="list-style: none;">
                    <span
                      class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-bok text-white rounded-full flex-shrink-0">
                      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2.5" class="w-4 h-4" viewBox="0 0 24 24">
                        <path d="M20 6L9 17l-5-5"></path>
                      </svg> </span>Gardez la vue sur les revenus
                    </li>
                  </ul>
                
                <p class="flex items-center text-gray-600 mb-2 font-size-grid">
                  <span
                    class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-bok text-white rounded-full flex-shrink-0">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                      stroke-width="2.5" class="w-4 h-4" viewBox="0 0 24 24">
                      <path d="M20 6L9 17l-5-5"></path>
                    </svg> </span>Gestion complète de votre annonce </p>
                    <ul style="padding: 1px 0 1px 1rem !important;">
                  <li style="list-style: none;"><span
                      class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-bok text-white rounded-full flex-shrink-0">
                      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2.5" class="w-4 h-4" viewBox="0 0 24 24">
                        <path d="M20 6L9 17l-5-5"></path>
                      </svg> </span>Communication et accueil des invités
  
                    </li>
                  <li style="list-style: none;"><span
                      class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-bok text-white rounded-full flex-shrink-0">
                      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2.5" class="w-4 h-4" viewBox="0 0 24 24">
                        <path d="M20 6L9 17l-5-5"></path>
                      </svg> </span>Organisation des nettoyages
                  </li>
                  <li style="list-style: none;"><span
                      class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-bok text-white rounded-full flex-shrink-0">
                      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2.5" class="w-4 h-4" viewBox="0 0 24 24">
                        <path d="M20 6L9 17l-5-5"></path>
                      </svg> </span>Coordination de l’entretiens
                </li>
                    </ul>
  
                  </div> 
                
                    <p class="flex items-center text-gray-600 mb-6" style="text-align: center !important;">
                      <span class="w-4 h-4 mr-2 inline-flex items-center justify-center text-white flex-shrink-0">
                        <h1 class="text-gray-900 leading-none flex items-center pb-4 mb-4 border-b border-gray-200" style="font-weight:bold; text-align: center !important; margin: 2px auto !important">
                          Commision 20%
                        </h1>
                      </span>
                    </p>
  
                <hr>
                <a class="flex items-center mt-auto text-white bg-primary-500 border-0 py-2 px-4 w-full focus:outline-none hover:bg-primary-600 rounded"
                  href="#popup2">
                  Learn More
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    class="w-4 h-4 ml-auto" viewBox="0 0 24 24">
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                  </svg>
                </a>
                <!-- <p class="text-xs text-gray-500 mt-3">
                  Literally you probably haven't heard of them jean shorts.
                </p> -->
              </div>
            </div>
            <!--  <div class="col-md-4 mt-2" style="height: 50%">
              
            </div> -->
          </div>
          <div class="ytvideo" style="margin-top: 60px">
            <div>
              <div class="common_headline my-4" style="text-align: center">
                <h2>Réservez dès maintenant un entretien conseil gratuit.</h2>
              </div>
              <div class="video_sect">
                <div class="calendly_link">
                  <!-- <div
                    class="calendly-inline-widget"
                    data-url="https://calendly.com/robin-mosetti/contactsimplestay?hide_event_type_details=1&hide_gdpr_banner=1"
                    style="min-width: 320px; height: 630px"
                  ></div> -->
                  <div class="calendly-inline-widget"
                    data-url="https://calendly.com/simple_stay/introduction?hide_event_type_details=1&hide_gdpr_banner=1&primary_color=0f7428"
                    style="min-width: 320px; height: 700px"></div>
                  <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"
                    async></script>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>