<!-- Services Section -->
<section id="services">
  <div style="margin: 3.5rem !important;">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Services</h2>
          <h3 class="section-subheading text-muted">Découvrez nos services</h3>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-4" style="text-align: -webkit-center">
          <img
            src="{{site.baseurl}}/assets/img/profit-icon-13.jpg"
            style="
              width: 20%;
              filter: invert(27%) sepia(81%) saturate(550%) hue-rotate(114deg)
              brightness(75%) contrast(132%);
            "
          />
  
          <h4 class="service-heading" style="font-weight:bold;">Maximisez vos revenus</h4>
          <p class="text-muted" style="font-size: 20px; text-align:center;">
            Augmentez vos revenus et optimisez votre taux d'occupation grâce à
            notre maîtrise des algorithmes Airbnb. Soyez témoin en direct de
            l'essor de vos revenus !
          </p>
        </div>
        <div class="col-md-4" style="text-align: -webkit-center">
          <img
            src="{{site.baseurl}}/assets/img/pngegg.png"
            style="
              width: 20%;
              filter: invert(27%) sepia(81%) saturate(550%) hue-rotate(114deg)
                brightness(91%) contrast(104%);
            "
          />
          <h4 class="service-heading " style="font-weight:bold;">Expérience sans soucis</h4>
          <p class="text-muted" style="font-size: 20px; text-align:center;">
            Détendez-vous, confiez-nous tout ! Gestion des invités, nettoyage,
            entretien. Libérez-vous des tracas liés à votre propriété !
          </p>
        </div>
        <div class="col-md-4" style="text-align: -webkit-center">
          <img
            src="{{site.baseurl}}/assets/img/2989655.png"
            style="
              width: 20%;"
          />
          <h4 class="service-heading" style="font-weight:bold;">Liberté totale</h4>
          <p class="text-muted" style="font-size: 20px; text-align:center;">
            Grâce à notre application, profitez de votre hébergement en un clic et
            à tout moment. Découvrez la liberté ultime à portée de main !
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
