<!-- Team Section -->
<section id="listing" class="bg-light-gray">
  <div  style="margin-top: 3.5rem !important;">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Nos Locations</h2>
          <h3 class="section-subheading text-muted">
            Explorez nos cocons chaleureux!
          </h3>
        </div>
      </div>
      <div style="text-align: center; ">
        <a
          target="_blank"
          href="https://locations.simplestay.ch"
          class="page-scroll btn btn-xl"
          >cliquez-içi pour accéder à nos locations</a
        >
        <div style="margin-top: 40px; ">
          <div class="testimonials" id="testimonials" style="height: 45vh !important;">
            <div class="container" style="height: 100% !important;">
              <div id="demo" class="carousel slide slider1" data-ride="carousel" style="height: 100% !important;">
                <div class="carousel-inner" style="height: 100% !important;">
                  <div class="carousel-item active">
                    <div class="carousel-caption " style="height: 100% !important;">
                      <p>
                        Excellent room in a beautiful hotel. It was very clean,
                        had a great location and a beautiful view. It has
                        excellent amenities, with the host and hotel employees all
                        being very friendly and helpful. Highly recommend staying
                        here.
                      </p>
                      <br />
                      <div class="star_icons" style="color: red">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                      </div>
                      <!-- <img src="assets/img/logo.png"> -->
                      <div id="image-caption">Sylvia, 2023</div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="carousel-caption">
                      <p>
                        Superbe logement avec vue grandiose sur les montagnes.
                        Appartement bien aménagé, propre et moderne. L'accès au
                        spa apporte un vrai plus au séjour. Merci à Robin
                      </p>
                      <br />
                      <div class="star_icons" style="color: red">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                      </div>
                      <!-- <img src="https://i.imgur.com/QptVdsp.jpg" class="img-fluid"> -->
                      <div id="image-caption">Caroline, 2023</div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="carousel-caption">
                      <p>
                        Tres bon séjour passé a Crans Montana, un studio cosy et
                        tres propre, une bonne literie, l accès a la piscine et au
                        spa est un réel plus, Robin est un hôte réactive et
                        convivial, prestation a la hauteur des attentes.
                      </p>
                      <br />
                      <div class="star_icons" style="color: red">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                      </div>
                      <!-- <img src="https://i.imgur.com/jQWThIn.jpg" class="img-fluid"> -->
                      <div id="image-caption">Johan, 2023</div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="carousel-caption">
                      <p>
                        Amazing studio in Crans-Montana. The host is nice and
                        always available for info requests.
                      </p>
                      <br />
                      <div class="star_icons" style="color: red">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                      </div>
                      <!-- <img src="https://i.imgur.com/jQWThIn.jpg" class="img-fluid"> -->
                      <div id="image-caption">Lorenzo, 2021</div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="carousel-caption">
                      <p>
                        Robin est un hôte très réactif et sympathique et
                        serviable. L'hébergement et l'emplacement sont
                        incroyables. Excellents équipements avec la piscine, le
                        spa, le sauna et le hammam. Tout est accessible à pied
                        après votre arrivée. Une expérience parfaite dans les
                        Alpes.
                      </p>
                      <br />
                      <div class="star_icons" style="color: red">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                      </div>
                      <!-- <img src="https://i.imgur.com/jQWThIn.jpg" class="img-fluid"> -->
                      <div id="image-caption">Gillian, 2023</div>
                    </div>
                  </div>
                  {{/*  <div class="carousel-item">
                    <div class="carousel-caption">
                      <p>
                        Robin est un hôte très réactif et sympathique et
                        serviable. L'hébergement et l'emplacement sont
                        incroyables. Excellents équipements avec la piscine, le
                        spa, le sauna et le hammam. Tout est accessible à pied
                        après votre arrivée. Une expérience parfaite dans les
                        Alpes.
                      </p>
                      <br />
                      <div class="star_icons" style="color: red">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                      </div>
                      <!-- <img src="https://i.imgur.com/jQWThIn.jpg" class="img-fluid"> -->
                      <div id="image-caption">Toni, 2022</div>
                    </div>
                  </div>  */}}
                  <div class="carousel-item">
                    <div class="carousel-caption">
                      <p>
                        Accueil et studio Swiss Quality! Emplacement et équipement
                        Tip-Top.
                      </p>
                      <br />
                      <div class="star_icons" style="color: red">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                      </div>
                      <!-- <img src="https://i.imgur.com/jQWThIn.jpg" class="img-fluid"> -->
                      <div id="image-caption">Lorenzo, 2020</div>
                    </div>
                  </div>
                  {{/*  <div class="carousel-item">
                    <div class="carousel-caption">
                      <p class="testimonial_size_gi">
                        Robin est un hôte vraiment sympathique ! Nous avons eu un
                        problème et il a tout essayé pour le résoudre.
                        L'appartement est petit mais dispose d'une cuisine meublée
                        et d'une salle de bains rénovée. L'hôtel est super, situé
                        dans le centre de Crans (5 minutes à pied pour rejoindre
                        les pistes), les installations sont un plus : la piscine,
                        le sauna et le spa etc. Le petit appartement de Robin est
                        parfait pour un couple qui veut profiter à la fois du ski
                        et se détendre.
                      </p>
                      <br />
                      <div class="star_icons" style="color: red">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                      </div>
                      <!-- <img src="https://i.imgur.com/jQWThIn.jpg" class="img-fluid"> -->
                      <div id="image-caption">Giacomo, 2019</div>
                    </div>
                  </div>  */}}
                  <div class="carousel-item">
                    <div class="carousel-caption">
                      <p>
                        Robin est un hôte très réactif, son studio est bien équipé
                        et bien situé. Merci encore.
                      </p>
                      <br />
                      <div class="star_icons" style="color: red">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                      </div>
                      <!-- <img src="https://i.imgur.com/jQWThIn.jpg" class="img-fluid"> -->
                      <div id="image-caption">Amina, 2022</div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="carousel-caption">
                      <p>
                        Hôte très sympathique, cordial et simple. Je recommande
                        vivement.
                      </p>
                      <br />
                      <div class="star_icons" style="color: red">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                      </div>
                      <!-- <img src="https://i.imgur.com/jQWThIn.jpg" class="img-fluid"> -->
                      <div id="image-caption">Pierre, 2022</div>
                    </div>
                  </div>
                </div>
                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                  <div class="carosel">
                    <i class="fas fa-arrow-left"></i>
                  </div>
                </a>
                <a class="carousel-control-next" href="#demo" data-slide="next">
                  <div class="carosel">
                    <i class="fas fa-arrow-right"></i>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
