/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

body {
  font-family: "Roboto", sans-serif;
}
html {
  scroll-behavior: smooth;
}
h5 {
  font-weight: 600;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

h3 {
  font-weight: 600;
}

li {
  color: #616161;
}

/*-----------------------------------------------------------------------menubar css*/
.header {
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgb(255, 255, 255);
}

.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
}

.header .logo {
  padding: 0 15px;
}

.header .nav-menu {
  padding: 0 15px;
}

.header .menu > .menu-item {
  display: inline-block;
  margin-left: 30px;
  position: relative;
}

/*------------------------ if you want change the menubar typography. just change here color property */

.header .menu > .menu-item > a {
  display: block;
  padding: 12px 0;
  font-size: 18px;
  text-decoration: none;
  color: #026244;
  text-transform: capitalize;
  font-weight: 500;
  transition: all 0.2s ease;
}

/*---------------------- if you want to change menuar list hover color, just change color property */

.header .menu > .menu-item > .sub-menu > .menu-item > a:hover,
.header .menu > .menu-item:hover > a {
  color: #000000;
}

.header .open-nav-menu {
  height: 34px;
  width: 40px;
  margin-right: 15px;
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-bottom: 8px;
}

/*--------------------- Responsive hamburger typography starts here */

.header .open-nav-menu span {
  display: block;
  height: 3px;
  width: 24px;
  background-color: #000000;
  position: relative;
}

.header .open-nav-menu span:before,
.header .open-nav-menu span:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  box-sizing: border-box;
}

.header .open-nav-menu span:before {
  top: -7px;
}

.header .open-nav-menu span:after {
  top: 7px;
}

.header .close-nav-menu {
  height: 40px;
  width: 40px;
  background-color: #ffffff;
  margin: 0 0 15px 15px;
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center;
}

.header .close-nav-menu img {
  width: 16px;
}

.header .menu-overlay {
  position: fixed;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
}

/* srcoll up button */

/* #btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
  }
  
  .btn {
    background: #dff3fc;
    border: none;
    color: #149ddd;
    padding: 8px 10px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .btn:first-child:hover,
  :not(.btn-check)+.btn:hover {
    color: #fff;
    background: #149ddd;
    border-color: var(--bs-btn-hover-border-color);
  } */

/*--------------------- Responsive hamburger typography end here */

/* responsive for mobile devices*/

@media (max-width: 991px) {
  .header .menu-overlay.active {
    visibility: visible;
    opacity: 1;
  }

  /*------------------ you can change background color for mobile devices */
  .header .nav-menu {
    position: fixed;
    right: -280px;
    visibility: hidden;
    width: 280px;
    height: 100%;
    top: 0;
    overflow-y: auto;
    background-color: #ffffff;
    z-index: 1000;
    padding: 15px 0;
    transition: all 0.5s ease;
  }

  .header .nav-menu.open {
    visibility: visible;
    right: 0px;
  }

  .header .menu > .menu-item {
    display: block;
    margin: 0;
  }

  .header .menu > .menu-item-has-children > a {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /*---------------------- you can change menubar list color and border for mobile devices */
  .header .menu > .menu-item > a {
    color: #026244;
    padding: 12px 15px;
    border-bottom: 1px solid #e7e7e7;
  }

  .header .menu > .menu-item:first-child > a {
    border-top: 1px solid #cbcbcb;
  }

  .header .close-nav-menu,
  .header .open-nav-menu {
    display: flex;
  }
}

/*-------------------------------------------------------------------------- hero area css */
.hero_areaa {
  background: linear-gradient(
      60deg,
      rgba(0, 0, 0, 0.715),
      rgba(23, 3, 151, 0.103)
    ),
    url(../img/hero_bg.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 80px 0px;
  display: flex;
  align-items: center;
  text-align: center;
}
.hero_content {
  color: #ffffff;
}
.hero_content h1 {
  font-weight: 900;
  width: 65%;
  margin: 0 auto;
}
.hero_content p {
  font-weight: 400;
  margin: 0 auto;
  width: 80%;
  padding: 20px 0px;
}

.bttn a {
  padding: 10px 25px;
  border: 2px solid #ffffff;
  letter-spacing: 1px;
  background: transparent;
  text-decoration: none;
  font-weight: 600;
  color: rgba(230, 243, 7, 0.99);
  transition: 0.3s;
}

.bttn a:hover {
  color: rgba(0, 0, 0, 0.99);
  transition: 0.3s;
  background: #ffffff;
}

/*------------------------------------------------------------------------------------- service section */
.common-headline p {
  width: 50%;
}
.service_details {
  padding: 20px 20px;
  background: #fff;
  height: 270px;
  width: 100%;
  margin-top: 20px;
  color: #0e1133;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
  border-left: 3px solid #149ddd;
}
.service_details i {
  font-size: 25px;
  color: #149ddd;
  width: 50px;
  height: 50px;
  background: #dff3fc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}
.service_details h4 {
  font-weight: 700;
}
.service_details p {
  color: #505056;
  font-size: 15px;
}
.service_details:hover i {
  color: #fbf9f9;
  background: #149ddd;
}

.title_service{
  font-size: 2rem !important;
}
@media (min-width:1030) {
  .title_service{
    font-size: 1.75rem !important;
  }
  
}
@media (min-width: 100px) and (max-width: 1029px) {
  .title_service{
    font-size: 1rem !important;
  }
}

/*--------------------------------------------------------------------- offer css */
.offer_box {
  padding: 30px 20px;
  border-top: 3px solid #149ddd;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.buttns_center {
  text-align: center;
}
.price_button {
  background: #01b427;
  display: inline-block;
  color: #fff;
  padding: 10px 49px;
  margin-top: 50px;
  border-radius: 5px;
  font-size: 22px;
  font-weight: 700;
}

/* video */
.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 aspect ratio (height/width) */
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 80%;
}

/*-------------------------------------------------------------------------------- testimonials */

.testimonials {
  padding: 50px 0px;
  display: flex;
  align-items: center;
  background: #eef1f6;
  font-family: "Open Sans";
}
#demo {
  background: linear-gradient(112deg, #ffffff 50%, antiquewhite 50%);
  max-width: 900px;
  margin: auto;
}
.carousel-caption {
  position: initial;
  z-index: 10;
  padding: 5rem 8rem;
  color: rgba(78, 77, 77, 0.856);
  text-align: center;
  font-size: 1.25rem;
  font-style: italic;
  font-weight: bold;
  line-height: 1.25rem;
}
 
@media (min-width: 100px) and (max-width: 700px){
  .carousel-caption{
    margin-top: 5%;
    font-size: 10px !important;

  }
}
.carousel-caption img {
  width: 6rem;
  border-radius: 5rem;
  margin-top: 2rem;
}
@media (max-width: 767px) {
  .carousel-caption img {
    width: 4rem;
    border-radius: 4rem;
    margin-top: 1rem;
  }
}
#image-caption {
  font-style: normal;
  font-size: 1rem;
  margin-top: 0.5rem;
}
@media (max-width: 767px) {
  #image-caption {
    font-style: normal;
    margin-top: 0.5rem;
  }
}
.star_icons i {
  color: #f44336;
  margin-right: 5px;
}
.carosel i {
  background-color: rgb(223, 56, 89);
  padding: 0.5rem;
}
@media (max-width: 767px) {
  i {
    padding: 0.8rem;
  }
}
.carousel-control-prev {
  justify-content: flex-start;
}

.carousel-control-next {
  justify-content: flex-end;
}
.carousel-control-prev,
.carousel-control-next {
  transition: none;
  opacity: unset;
}

/*---------------------------------------------------- about css */
.about_pic img {
  width: 85%;
}
.about_pic {
  text-align: center;
}

/*----------------------------------------------.contact css */
.icon.pr-3 i {
  font-size: 30px;
  color: #149ddd;
  background: #dff3fc;
  padding: 12px 10px;
  border-radius: 5px;
  margin: 10px 0px;
}
.conact_details a {
  color: #000000;
  font-weight: 500;
}
.contact_content {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 15px 15px;
}

@media only screen and (max-width: 1200px) {
  .service_details {
    height: 100%px;
  }
}

@media only screen and (max-width: 600px) {
  .hero_content p {
    width: 98%;
  }

  .common-headline p {
    width: 95%;
  }
  .hero_content h1 {
    font-weight: 700;
    width: 100%;
  }
}
@media only screen and (max-width: 992px) {
  .service_details {
    height: 260px;
  }
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex {
  display: flex;
}
.-m-4 {
  margin: -1rem;
}

@media (min-width: 768px) {
  .md\:w-1\/2 {
    width: 50%;
  }
}

.p-4 {
  padding: 1rem;
}
.w-full {
  width: 100%;
}

.p-6 {
  padding: 1.5rem;
}
.border-primary-500 {
  --tw-border-opacity: 1;
  border-color: rgb(244 63 94 / var(--tw-border-opacity));
}
.border-2 {
  border-width: 2px;
}
.rounded-lg {
  border-radius: 0.5rem;
}
.overflow-hidden {
  overflow: hidden;
}
.flex-col {
  flex-direction: column;
}
.h-full {
  height: 100%;
}
.flex {
  display: flex;
}
.relative {
  position: relative;
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.tracking-widest {
  letter-spacing: 0.1em;
}
.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}
.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.bg-primary-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(244 63 94 / var(--tw-bg-opacity));
}
.rounded-bl {
  border-bottom-left-radius: 0.25rem;
}
.top-0 {
  top: 0px;
}
.right-0 {
  right: 0px;
}
.absolute {
  position: absolute;
}

.tracking-widest {
  letter-spacing: 0.1em;
}

.font-medium {
  font-weight: 500;
}
.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.mb-1 {
  margin-bottom: 0.25rem;
}
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}
